{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Presence Management System</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'assets/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/fontsdashboard/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/cssdashboard/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/nivo-lightbox/default.css' %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="{% url 'admin_dashboard' %}">Presence</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"class="page-scroll">Home</a></li>
        <li><a href="#features" class="page-scroll">Features</a></li>
        <li><a href="#services" class="page-scroll">Services</a></li>
        <li><a href="#portfolio" class="page-scroll">Gallery</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div style="background-image: url(../static/assets/imgdashboard/intro-bg.jpg);height: 100%;width: 100%">
    <div class="overlay">
      <div class="container">
        <div class="row">
       
          <div class="col-md-8 col-md-offset-2 intro-text">
            <div class="button">
              <a href="{% url 'user' %}"class="btn">Login</a>
          
          </div>
          <br>  <a href="#features" class="btn btn-custom btn-lg page-scroll">Learn More</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title">
      <h2>Features</h2>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>Friendly To Each Other</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-bullhorn"></i>
        <h3>Attention</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-group"></i>
        <h3>Team Co-Operation</h3>
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-magic"></i>
        <h3>Perfect in Work</h3>
      </div>
    </div>
  </div>
</div>

<!-- Services Section -->
<div id="services" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Our Services</h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-4"> <i class="fa fa-cube"></i>
        <div class="service-desc">
          <h3>Product Development</h3>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-line-chart"></i>
        <div class="service-desc">
          <h3>Data Analytics And Business Intelligence</h3>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-video-camera"></i>
        <div class="service-desc">
          <h3>Enterprise Solution</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"> <i class="fa fa-info-circle"></i>
        <div class="service-desc">
          <h3>Infrastructure Support</h3>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-btc"></i>
        <div class="service-desc">
          <h3>Blockchain Development</h3>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-cogs"></i>
        <div class="service-desc">
          <h3>Robotic Process Automation</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallery Section -->
<div id="portfolio" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Gallery</h2>
      <p>Together We Work Hard Lot We Achieve</p>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'assets/imgdashboard/portfolio/01-large.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Dont't</h4>
              </div>
              <img src="{% static 'assets/imgdashboard/portfolio/01-small.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'assets/imgdashboard/portfolio/02-large.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Tell</h4>
              </div>
              <img src="{% static 'assets/imgdashboard/portfolio/02-small.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'assets/imgdashboard/portfolio/03-large.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>People</h4>
              </div>
              <img src="{% static 'assets/imgdashboard/portfolio/03-small.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'assets/imgdashboard/portfolio/04-large.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Your</h4>
              </div>
              <img src="{% static 'assets/imgdashboard/portfolio/04-small.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'assets/imgdashboard/portfolio/05-large.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Plans</h4>
              </div>
              <img src="{% static 'assets/imgdashboard/portfolio/05-small.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'assets/imgdashboard/portfolio/06-large.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Show</h4>
              </div>
              <img src="{% static 'assets/imgdashboard/portfolio/06-small.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'assets/imgdashboard/portfolio/07-large.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Them</h4>
              </div>
              <img src="{% static 'assets/imgdashboard/portfolio/07-small.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'assets/imgdashboard/portfolio/08-large.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Your</h4>
              </div>
              <img src="{% static 'assets/imgdashboard/portfolio/08-small.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'assets/imgdashboard/portfolio/09-large.jpg' %}" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Results</h4>
              </div>
              <img src="{% static 'assets/imgdashboard/portfolio/09-small.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="{% static 'assets/imgdashboard/about.jpg' %}" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>About Us</h2>
          <p>ABC Application is a best Solutions and Development company Specializing in Artificial Intelligence(AI) @ Machine Learning Technologies.</p>
          <h3>Why Choose Us?</h3>
          <div class="list-style">
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                <li>Custom Machine Learning</li>
                <li>Manufacturing Design</li>
                <li>Analysis Video & text </li>
                <li>Conversational & Classification Tools</li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                <li>Deep Learning</li>
                <li>Sales Intelligence</li>
                <li>Robotics Process Automation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Contact Section -->
<div id="contact">
  <div class="container">
    <div class="col-md-8">
      <div class="row">
        <div class="section-title">
          <h2>Get In Touch</h2>
          <p>Please fill out the form below to send us an email and we will get back to you as soon as possible.</p>
        </div>
        <form action="/index1" method="POST" name="sentMessage" id="contactForm" novalidate>
           {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
         <button type="submit" class="btn btn-custom btn-lg">Send Message</button> 
        </form>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 contact-info">
      <div class="contact-item">
        <h3>Contact Info</h3>
        <p><span><i class="fa fa-map-marker"></i> Address</span> ABC Applications 8th Street IT Park,<br>
          Coimbatore Tamil Nadu 603103</p>
      </div>
      <div class="contact-item">
        <p><span><i class="fa fa-phone"></i> Phone</span> +91 34467414054</p>
      </div>
      <div class="contact-item">
        <p><span><i class="fa fa-envelope-o"></i> Email</span> info@abc.com</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="social">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Footer Section -->
<div id="footer">
  <div class="container text-center">
    <p>&copy; 2021 Interact. Design by <a href="#" rel="nofollow">OurTeam</a></p>
      
  </div>
  
  
</div>
<a name ="top">
<a href="#"><center><h3>back to top</h3></center></a>
<script type="text/javascript" src="{% static 'assets/jsdashboard/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/jsdashboard/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static '/assets/jsdashboard/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/jsdashboard/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/jsdashboard/jqBootstrapValidation.js' %}"></script> 
<!-- #<script type="text/javascript" src="{% static 'assets/jsdashboard/contact_me.js' %}"></script>  -->
<script type="text/javascript" src="{% static 'assets/jsdashboard/main.js' %}"></script>
 
</body>
</html>